@import url("https://fonts.googleapis.com/css2?family=Phudu&display=swap");

body {
 margin: 0;
 font-family: "Phudu", cursive;
 background-color: beige;
}

code {
 font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
 box-sizing: border-box;
}
